{% extends 'base.html' %}
{% block title %}Expense Categories - Spend Manager{% endblock title %}

{% block content %}
<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for name in names %}
                <tr>
                    <td>{{ name.name }}</td>
                    <td>{{ name.receipts.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
